* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  height: 100%;
}

.content-container-header {
  font-size: 70px;
  margin-bottom: auto;
  color: aliceblue;
}

.content-container-header a {
  text-decoration: none;
  color: aliceblue;
}

.content-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container-main .table-selections {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.content-container-main h3 {
  color: aliceblue;
  cursor: pointer;
}

.content-container-main h3[data-state="true"] {
  text-decoration: underline;
}

.content-container-main .logo {
  width: 32px;
  height: 32px;
}

.content-container-main .favorite {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.markets {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.markets .market-ft,
.markets .market-nft {
  width: 100px;
  height: 50px;
}

.content-container-footer {
  margin-top: auto;
  color: aliceblue;
}
