* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212529;
  height: 100%;
}

.content-container-header {
  font-size: 70px;
  margin-bottom: auto;
  color: aliceblue;
}

.content-container-header a {
  text-decoration: none;
  color: aliceblue;
}

.content-container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container-main img {
  width: 360px;
  height: 360px;
}

.content-container-footer {
  margin-top: auto;
  color: aliceblue;
}
