<div class="container container-footer">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center footer-left">
            <span class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img class="footer-logo" src="/images/logo_footer.png">
            </span>
            <span class="mb-3 mb-md-0 text-body-secondary fw-lighter fst-italic footer-copyright">©
                AppWorks
                School Batch#20
                Back-End CT
                2023</span>
        </div>

        <div class="d-flex align-items-center justify-content-end footer-right">
            <span class="mb-3 mb-md-0 text-body-secondary fw-lighter">
                Find me on | </span>
            <ul class="nav col-md-4 justify-content-between list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="https://github.com/CT77777" target="_blank"><svg
                            class="bi" width="24" height="24">
                            <use xlink:href="#github"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://discord.gg/murmurcats"
                        target="_blank"><svg class="bi" width="24" height="24">
                            <use xlink:href="#discord"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/CT_Chan7" target="_blank"><svg
                            class="bi" width="24" height="24">
                            <use xlink:href="#twitter"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/ct_chan_/"
                        target="_blank"><svg class="bi" width="24" height="24">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="https://www.facebook.com/chanyihcheng"
                        target="_blank"><svg class="bi" width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </div>

    </footer>
</div>