<div class="container container-header">
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li>
                        <span class="nav-link px-2 text-secondary text-white fs-4 page-name">Profile</span>
                    </li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark"
                        placeholder="Search address / username" aria-label="Search">
                </form>

                <div class="text-end">
                    <svg class="bi pe-none me-2" width="20" height="20">
                        <use xlink:href="#wallet"></use>
                    </svg>
                    <span>0x5e124f17f30e2c59facfa780b66c538f9e7dbd42</span>
                </div>

            </div>
        </div>
    </header>
</div>