<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img class="sidebar-logo" src="../images/logo_sidebar.png">
    <span class="fs-4 text-uppercase fw-bold sidebar-name">Crypilot</span>
</a>
<hr>
<ul class="nav nav-pills flex-column mb-auto fs-6 sidebar-list">
    <li>
        <a href="/" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#home"></use>
            </svg>
            Home
        </a>
    </li>
    <li>
        <a href="/market/ft" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#market"></use>
            </svg>
            Market
        </a>
    </li>
    <li>
        <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#favorite"></use>
            </svg>
            Tracing
        </a>
    </li>
    <li>
        <a href="/inventory" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#wallet"></use>
            </svg>
            Wallet
        </a>
    </li>
    <li>
        <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#buy"></use>
            </svg>
            Buy
        </a>
    </li>
    <li>
        <a href="#" class="nav-link link-body-emphasis">
            <svg class="bi pe-none me-2" width="20" height="20">
                <use xlink:href="#swap"></use>
            </svg>
            Swap
        </a>
    </li>
</ul>
<hr>