<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary sidebar" style="width: 280px;">
    <%- include("sidebarNav") %>

        <!-- guest -->
        <div class="dropdown dropdown-guest">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <svg class="bi pe-none me-2" width="32" height="32">
                    <use xlink:href="#guest"></use>
                </svg>
                <strong>Guest</strong>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop-sign-up">Sign-up
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#signup"></use>
                        </svg></a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop-login">Login
                        <svg class="bi pe-none me-2" width="16" height="16">
                            <use xlink:href="#login"></use>
                        </svg></a></li>
            </ul>
        </div>
</div>