<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crypilot</title>
    <link rel="icon" type="image/png" href="../images/wallet_small.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/trade.css">
</head>

<body>
    <div class="content-container">
        <header class="content-container-header">
            <a href="/">Crypilot</a>
        </header>
        <main class="content-container-main">
            <div class="table-selections">
                <h3 class="table-selection table-buy" data-state="true">Buy Currency</h3>
                <h3 class="table-selection table-swap">Swap ETH</h3>
            </div>
            <form class="buy-form" action="/trade/buy" method="POST">
                <div class="btn-group">
                    <button class="btn btn-secondary btn-lg selected-currency" type="button">
                        Select a currency
                    </button>
                    <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="currency">
                            <a class="dropdown-item" href="#" data-contract="">
                                <img class="currency-logo"
                                    src="https://s2.coinmarketcap.com/static/img/coins/64x64/1027.png">ETH
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="currency">
                            <a class="dropdown-item" href="#"
                                data-contract="0x6b175474e89094c44da98b954eedeac495271d0f">
                                <img class="currency-logo"
                                    src="https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png">DAI
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="currency">
                            <a class="dropdown-item" href="#"
                                data-contract="0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48">
                                <img class="currency-logo"
                                    src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png">USDC
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="form-floating">
                    <input class="contract-address" type="text" name="contract-address" style="display: none">
                    <input type="number" step="0.01" name="ethAmount" class="form-control" id="floatingEthAmount"
                        placeholder="ETH amount" required>
                    <label for="floatingEthAmount">Amount</label>
                </div>
                <button class="btn btn-primary w-100 py-2 buy-fiat-btn" type="button">Buy</button>
            </form>
        </main>
        <footer class="content-container-footer">
            <p>&copy;AppWorks School Batch#20 Back-End CT 2023</p>
        </footer>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Swap Result</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary trigger-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
        style="display: none;">
        Launch demo modal
    </button>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="../js/trade.js"></script>
</body>

</html>