.container-header {
  background-color: #373e51 !important;

  header {
    background-color: #373e51 !important;
  }

  form input {
    width: 300px;
    border-radius: 9999px;
    margin: 0 auto;
  }
}
