@import "./modules/universal.scss";
@import "./modules/framework.scss";
@import "./modules/sideBar.scss";
@import "./modules/verticalDivider.scss";
@import "./modules/contentContainer.scss";
@import "./modules/header.scss";
@import "./modules/footer.scss";
@import "./modules/RWD.scss";
@import "./modules/retrieveKey.scss";

.container-main {
  display: flex;
  justify-content: center;
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      color: aliceblue;
    }

    .avatar {
      width: 210px;
      height: 210px;
      margin: 20px 0;
    }

    .eth {
      display: flex;
      flex-direction: column;
      align-items: center;

      .eth-image {
        width: 72px;
        height: 72px;
        margin-bottom: 10px;
      }
    }
  }
}
